@page
@model PersonalPortfolioSite.Pages.ContactModel
@{
    ViewData["Title"] = "Contact";
}

<section class="page-section contact-heading">
    <div class="container">

        <div class="contact-heading-content mb-3 mb-lg-0">
            <div class="row">
                <div class="col-xl-9 col-xl-10 mx-auto">
                    <div class="bg-faded rounded p-5">
                        <h2 class="section-heading mb-4">
                            <span class="section-heading-lower text-center">Contact</span>
                        </h2>
                        <div class="contact-icons">
                            <ul class="list-unstyled list-hours mb-5 text-left mx-auto">
                                <li class="list-unstyled-item list-hours-item d-flex">
                                    &emsp;<a href="mailto:ermcmillan@crimson.ua.edu" target="_blank" class="fa fa-envelope fa-2x"></a>
                                    &emsp;&emsp;<span class="ml-auto">ermcmillan@crimson.ua.edu</span>
                                </li>
                                <li class="list-unstyled-item list-hours-item d-flex">
                                    &nbsp;&emsp;<i class="fa fa-mobile fa-3x" id="mobilecontact"></i>
                                    &emsp;&emsp;<span class="ml-auto">(205) 908-0484</span>
                                </li>
                                <li class="list-unstyled-item list-hours-item d-flex">
                                    &emsp;<a href="https://www.linkedin.com/in/elmcmillan/" target="_blank" class="fa fa-linkedin fa-2x"></a>
                                    &emsp;&emsp;<span class="ml-auto">www.linkedin.com/in/elmcmillan</span>
                                </li>
                                <li class="list-unstyled-item list-hours-item d-flex">
                                    &emsp;<a href="https://github.com/ermcmillan" target="_blank" class="fa fa-github fa-2x"></a>
                                    &emsp;&emsp;<span class="ml-auto">www.github.com/ermcmillan</span>
                                </li>
                                <li class="list-unstyled-item list-hours-item d-flex">
                                    &nbsp;&emsp;<a href="https://emvisualmerchandising.tumblr.com/" target="_blank" class="fa fa-tumblr fa-2x"></a>
                                    &emsp;&emsp;<span class="ml-auto">www.emvisualmerchandising.tumblr.com</span>
                                </li>
                            </ul>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <img class="img-fluid rounded contact-heading-img mb-3 mb-lg-0" src="img/about.jpg" alt="">
    </div>
</section>

