@page
@model PersonalPortfolioSite.Pages.ForecastProjectsModel
@{
    ViewData["Title"] = "ForecastProjects";
}

<section class="page-section cta">
    <div class="container">
        <div class="row">
            <div class="col-xl-9 mx-auto">
                <div class="cta-inner text-center rounded">
                    <h2 class="section-heading mb-4">
                        <span class="section-heading-upper">Explore my projects</span>
                        <span class="section-heading-lower">Trend Forecasting Projects</span>
                    </h2>
                    <p class="mb-0">Talk about my experience with trend forecasting projects and love for  trend forecasting</p>
                </div>
            </div>
        </div>
    </div>
</section>

<section class="page-section clearfix">
    <div class="container">
        <div class="intro">
            <img class="intro-img img-fluid mb-3 mb-lg-0 rounded" src="img/intro.jpg" alt="">
            <div class="intro-text left-0 text-center bg-faded p-5 rounded">
                <h2 class="section-heading mb-4">
                    <span class="section-heading-upper">Fall 2020</span>
                    <span class="section-heading-lower">The Future Consumer &amp; Consumer Demands 2022</span>
                </h2>
                <p class="mb-3">
                    Research project with 2 partners
                </p>
                <div class="intro-button mx-auto">
                    <a class="btn btn-primary btn-xl" asp-page="/FutureConsumer2022">Project Details</a>
                </div>
            </div>
        </div>
    </div>
</section>

<section class="page-section clearfix">
    <div class="container">
        <div class="intro">
            <img class="intro-img img-fluid mb-3 mb-lg-0 rounded" src="img/intro.jpg" alt="">
            <div class="intro-text left-0 text-center bg-faded p-5 rounded">
                <h2 class="section-heading mb-4">
                    <span class="section-heading-upper">Fall 2019</span>
                    <span class="section-heading-lower">Glassware Trends</span>
                </h2>
                <p class="mb-3">
                    Research project in trend forecasting
                </p>
                <div class="intro-button mx-auto">
                    <a class="btn btn-primary btn-xl" asp-page="/Glassware">Project Details</a>
                </div>
            </div>
        </div>
    </div>
</section>