@page
@model PersonalPortfolioSite.Pages.ProjectsModel
@{
}

<section class="page-section cta">
    <div class="container">
        <div class="row">
            <div class="col-xl-9 mx-auto">
                <div class="cta-inner text-center rounded">
                    <h2 class="section-heading mb-4">
                        <span class="section-heading-upper">Explore my projects</span>
                        <span class="section-heading-lower">All Projects</span>
                    </h2>
                    <p class="mb-0">Talk about my variation of projects and all the categories</p>
                </div>
            </div>
        </div>
    </div>
</section>

<section class="page-section clearfix">
    <div class="container">
        <div class="intro">
            <img class="intro-img img-fluid mb-3 mb-lg-0 rounded" src="img/intro.jpg" alt="">
            <div class="intro-text left-0 text-center bg-faded p-5 rounded">
                <h2 class="section-heading mb-4">
                    <span class="section-heading-upper"></span>
                    <span class="section-heading-lower">Programming</span>
                </h2>
                <p class="mb-3">
                    Talk about programming projects
                </p>
                <div class="intro-button mx-auto">
                    <a class="btn btn-primary btn-xl" asp-page="/ProgramProjects">View Projects</a>
                </div>
            </div>
        </div>
    </div>
</section>

<section class="page-section clearfix">
    <div class="container">
        <div class="intro">
            <img class="intro-img img-fluid mb-3 mb-lg-0 rounded" src="img/intro.jpg" alt="">
            <div class="intro-text left-0 text-center bg-faded p-5 rounded">
                <h2 class="section-heading mb-4">
                    <span class="section-heading-upper"></span>
                    <span class="section-heading-lower">Trend Forecasting</span>
                </h2>
                <p class="mb-3">
                    Talk about trend forecasting projects
                </p>
                <div class="intro-button mx-auto">
                    <a class="btn btn-primary btn-xl" asp-page="/ForecastProjects">View Projects</a>
                </div>
            </div>
        </div>
    </div>
</section>

<section class="page-section clearfix">
    <div class="container">
        <div class="intro">
            <img class="intro-img img-fluid mb-3 mb-lg-0 rounded" src="img/intro.jpg" alt="">
            <div class="intro-text left-0 text-center bg-faded p-5 rounded">
                <h2 class="section-heading mb-4">
                    <span class="section-heading-upper"></span>
                    <span class="section-heading-lower">Visual Merchandising</span>
                </h2>
                <p class="mb-3">
                    Talk about trend forecasting projects
                </p>
                <div class="intro-button mx-auto">
                    <a class="btn btn-primary btn-xl" asp-page="/VMProjects">View Projects</a>
                </div>
            </div>
        </div>
    </div>
</section>

<section class="page-section clearfix">
    <div class="container">
        <div class="intro">
            <img class="intro-img img-fluid mb-3 mb-lg-0 rounded" src="img/intro.jpg" alt="">
            <div class="intro-text left-0 text-center bg-faded p-5 rounded">
                <h2 class="section-heading mb-4">
                    <span class="section-heading-upper"></span>
                    <span class="section-heading-lower">Fashion Industry Research</span>
                </h2>
                <p class="mb-3">
                    Talk about trend forecasting projects
                </p>
                <div class="intro-button mx-auto">
                    <a class="btn btn-primary btn-xl" asp-page="/IndustryResearch">View Projects</a>
                </div>
            </div>
        </div>
    </div>
</section>
