@page
@model PersonalPortfolioSite.Pages.ResumeSkillsModel
@{
    ViewData["Title"] = "ResumeSkills";
}

<section class="page-section about-heading">
    <div class="container">
        <img class="img-fluid rounded about-heading-img mb-3 mb-lg-0" src="img/about.jpg" alt="">
        <div class="about-heading-content">
            <div class="row">
                <div class="col-xl-9 col-lg-10 mx-auto">
                    <div class="bg-faded rounded p-5">
                        <h2 class="section-heading mb-4">
                            <span class="section-heading-upper">El's Resume</span>
                            <span class="section-heading-lower">Resume</span>
                        </h2>
                        <p>
                            <div class="intro-button mx-auto">
                                <a class="btn btn-primary btn-lg" <a href="/Files/HESResume_ElMcMillan.pdf" download>Download as PDF</a>
                            </div>
                            <div class="intro-button mx-auto">
                                <a class="btn btn-primary btn-lg" <a href="/Files/HESResume_ElMcMillan.docx" download>Download as Word Doc</a>
                            </div>
                        </p>
                        <p class="mb-0">
                            Put formatted resume here 
                        </p>
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>

