@page
@model PersonalPortfolioSite.Pages.ResumeSkillsModel
@{
    ViewData["Title"] = "ResumeSkills";
}

<section class="page-section cta">
    <div class="container">
        <div class="row">
            <div class="col-xl-9 mx-auto">
                <div class="cta-inner text-center rounded">
                    <h2 class="section-heading mb-4">
                        <span class="section-heading-lower">Resume</span>
                    </h2>
                    <p class="mb-0">Download my resume as a PDF or Word Document:</p>
                    <br />
                    <div class="holdresbuttons">
                        <div class="res-button mx-auto">
                            <a class="btn btn-primary btn-sm" href="/Files/HESResume_ElMcMillan.pdf" download>PDF</a>
                        </div>
                        <div class="res-button mx-auto">
                            <a class="btn btn-primary btn-sm" href="/Files/HESResume_ElMcMillan.docx" download>Word</a>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>

<section class="page-section contact-heading">
    <div class="container">
        <div class="contact-heading-content mb-3 mb-lg-0">
            <div class="row">
                <div class="col-xl-9 col-lg-10 mx-auto">
                    <div class="bg-faded rounded p-5">

                        <div class="embed-responsive" style="padding-bottom:150%">
                            <object data="Files/HESResume_ElMcMillan.pdf" type="application/pdf"></object>
                        </div>

                    </div>
                </div>
            </div>
        </div>
    </div>
</section>

